* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 8%);
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.card {
    border-radius: 15px;
    background-color: hsl(0, 0%, 12%);
    width: 400px;
    height: 670px;
}

.links {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .link-button {
    width: 300px;
    padding: 15px;
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .link-button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
  }

  .profilepic img{
    max-width: 25%;
    border-radius: 100%;
  }

  .profilepic{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .name{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    padding-top: 20px;
  }

  .location{
    color: hsl(75, 94%, 57%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
  }

  .cargo{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    margin-top: 35px;
  }